
.link-projeto{
    text-decoration: none;
}

.projeto{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    
    padding: 5px;
    border-radius: 10px;
    border: black solid 1px;
    color: black;
    background-color: white;
    width: 250px;
    height: 350px;
    transition: 1s;
}
.projeto:hover{
    
    width: 270px;
    height: 370px;
}


.img-projeto{
    width: 100%;
    height: 35%;
    /*background-image: url(./Codar/desktop.png);*/
    background-size: cover;
    background-repeat: no-repeat;
    
}

.projeto h3{
    font-size: 20pt;
    
}

